*{
    margin: 0;
    padding: 0;
}

:root{
    font-family: var(--ff-raleway);
    background-color: var(--shape-background);
}

button{
    padding: 5px 20px;
    border-radius: 8px;
    background-color: var(--pink-dark);
    color: var(--text-title);
    border: none;


    font-size: 14px;
    line-height: auto;
    font-weight: bold;
}