.pagefour-title-container{

    display: flex;
    justify-content: center;
    align-items: center; 
}
.card-1{
    background: var(--shape-base);
    border: 2px solid var(--shape-stroke);

    padding: 32px 32px 28px 32px;
    height: 400px ;
    width: 272px;
    flex-shrink: 0;

    display: flex;
    flex-flow: column;
    justify-content: space-between;

    border-radius: 24px;
    z-index: -1;
}

.card-2{
    background: var(--shape-base);
    border: 2px solid var(--shape-stroke);

    padding: 32px 32px 28px 32px;
    height: 400px ;
    width: 272px;
    flex-shrink: 0;

    display: flex;
    flex-flow: column;
    justify-content: space-between;

    border-radius: 24px;
    margin-bottom: 130px;
}

.card-3{
    background: var(--shape-base);
    border: 2px solid var(--shape-stroke);

    padding: 32px 32px 28px 32px;
    height: 400px ;
    width: 272px;
    flex-shrink: 0;

    display: flex;
    flex-flow: column;
    justify-content: space-between;

    border-radius: 24px;
    z-index: -1;
}

.card-2-container{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}
.card-2:hover{
    background-color: var(--shape-hover);
    z-index: 2;
}
.card-1:hover{
    background: var(--shape-hover);
    z-index: 2;
}
.card-3:hover{
    background-color: var(--shape-hover);
    z-index: 2;
}


.assinatura-container{
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    font-family: var(--ff-raleway);
    margin-bottom: 10px;
}

.assinatura-bottom{
    margin-bottom: 24px;
}

.nome-assinatura{
    color: var(--blue-light);
    font-size: 16px;
    line-height: auto;
    font-weight: bold;
}

.nome-assinatura-pink{
    color: var(--pink-base);
    font-size: 16px;
    line-height: auto;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-btn{
    background-color: var(--shape-stroke);
    color: var(--text-body);
    font-weight: bold;
    border: none;
    padding: 9px 20px;
    border-radius: 999px;
}

.title-pagefour{
    color: var(--text-body);
    max-width: 224px;
    font-size: 24px;
    line-height: auto;
    font-weight: bold;

    display: flex;
    text-align: center;
    align-content: center;

    margin: 100px 0px 48px 0px;
}

.beneficios{
    color: var(--text-body);
    gap: 8px;
    display: flex;
}

.valor{
    font-size: 40px;
    line-height: auto;
    color: var(--text-title);
    font-weight: bold;
    margin-bottom: 8px;
}

.valor-container{
    display: flex;

    align-items: center;
    gap: 4px;
}
.valor-tempo{
    font-size: 16px;
    color: var(--text-body);
    font-weight: bold;
    line-height: auto;
}

.valor-descricao{
    font-size: 14px;
    line-height: 140%;
    color: var(--text-label);
}

.icon-pagefour{
    height: 14px;
    width: 14px;
}

.p-beneficios{
    font-size: 12px;
    line-height: 140%;
}

.card-container{
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
    justify-content: center;
    overflow-x: scroll;
    flex-wrap: nowrap;

    
}
.beneficios{
    margin: 6px 0px 6px 0px;
}
.btn-assinar{
    margin-top: 18px;
    background-color: var(--blue-base);
    color: var(--text-title);
    font-weight: bold;
    border: none;
    border-radius: 8px;

    font-size: 14px;
    padding: 12px 80px;
}

.btn-assinar:hover{
    background-color: var(--blue-light);
}

.btn-assinar-pink{
    background-color: var(--pink-base);

    margin-top: 18px;
    color: var(--text-title);
    font-weight: bold;
    border: none;
    border-radius: 8px;

    font-size: 14px;
    padding: 12px 80px;
}

.btn-assinar-pink:hover{
    background-color: var(--pink-light);
}

.centralizar-btn{
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 1280px){
    .card-1{
        transform: rotate(-8deg);
        margin-top: 60px;
    }
    .card-3{
        transform: rotate(8deg);
        margin-top: 60px;
    }

    .card-container{
        gap: 0px;
        margin-top: 60px;
        overflow-x: hidden;
        flex-wrap: wrap;
    }
    .card-2-container{
        display: flex;
        align-items: space-between;
        justify-content: space-between;
    }
    .icon-estrelas-1::after{
        content: url(../assets/icon/two-stars.svg);
        position: absolute;
        left: -30px;
        top: -30px;
    }

    .icon-coelho::after{
        content: url(../assets/icon/coelho.svg);
        position: absolute;
        top: 2610px;
        left: 550px;
        z-index: -1;
    }

    .icon-estrelas-3::after{
        content: url(../assets/icon/two-stars.svg);
        position: absolute;
        left: 1120px;
        top: 3185px;
        transform: rotate(10deg);
    }

    .btn-assinar{
        padding: 14px 70px;
        font-size: 16px;
    }

    .btn-assinar-pink{
        padding: 14px 70px;
        font-size: 16px;
    }
}