.pagetwo-container {
    padding: 48px 40px;
    display: flex;
    flex-flow: column;

    margin-bottom: 80px;
}

/* ESTILOS DAS IMAGENS — FORA DO NESTING */
.icon-livro {
    height: 40px;
    width: 40px;
    padding-bottom: 16px;
    margin-left: 220px;
}

.icon-ouija {
    height: 32px;
    width: 32px;
    margin-top: -6px;
    margin-left: 10px;
}

.icon-bola-cristal {
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

.icons-container {
    display: flex;
    gap: 240px;
}

.text-pagetwo {
    text-align: center;
}

/* TEXTO PADRÃO */
.text-pagetwo::after {
    display: block;
    position: relative;
    content: "Receba todo mês um livro surpresa do seu tema favorito, acompanhado de brindes exclusivos que tornarão a sua experiência literária ainda mais encantadora.";
    color: var(--text-body);
}

/* MEDIA QUERY CORRIGIDO E COMPATÍVEL */
@media screen and (min-width: 1280px) {

    .pagetwo-container {
        padding: 0px 48px;

        margin-top: 180px;
        margin-bottom: 240px;
    }


    .icon-livro {
        height: 80px;
        width: 80px;
        margin-top: 96px;
        margin-left: 650px;
    }

    .icon-ouija {
        height: 72px;
        width: 72px;

        margin-top: 16px;
        margin-left: 60px;
    }

    .icon-bola-cristal {
        height: 65.45px;
        width: 65.45px;

        margin-top: 16px;
    }

    .text-pagetwo {
        font-size: 32px;
    }

    /* TEXTO ALTERADO NA TELA MAIOR */
    .text-pagetwo::after {
        content: "Receba todo mês um livro surpresa do seu tema favorito, acompanhado de brindes exclusivos que tornarão a sua experiência literária encantadora";
    }

    .icons-container {
        gap: 950px;
    }
}
