header{
    display: flex;
    justify-content: space-between;

    img{
        height: 48px;
        width: 64.55px;
    }
    
}

.pageone{
    padding: 20px;

}
.logo-icon{
    content: url(../assets/icon/logo-symbol.svg);
}

.btn-header{
    padding: 1px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    color: var(--text-body);
    background-color: var(--pink-base);
    border: none;
}

#pageone-container{
    background: url(../assets/img/hero-background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#texts{
    margin: 48px auto 0; 
    gap: 16px;

    display: grid;
    align-items: center;
    text-align: center;
}

h1{
    color: var(--text-title);
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 16px;
}

.subtitle{
    color: var(--text-body);
    line-height: 140%;
    font-size: 14px;
    text-align: center;

    padding-bottom: 130px;
}


@media screen and (width >= 1280px){
    .pageone{
        padding: 48px;
    }
    .logo-icon{
    content: url(../assets/icon/logo-horizontal.svg);
    }
    #texts{
        margin-top: 164px;
        max-width: 656px;
        padding: 20px;

        display:flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    h1{
        font-size: 48px;
        padding-bottom: 0px;
    }

    .subtitle{
        padding-bottom: 180px;
        font-size: 20px;
        line-height: 140%;
    }
};
    