.title-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 8px;
}

.pagethree-container{
    padding: 0px 0px 140px 0px;

    background: url(../assets/icon/blur.svg);
    background-size: 298px;
    background-repeat: no-repeat;
    background-position: center;
}

.title{
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    color: var(--text-body);
    font-weight: bold;
    font-size: 24px;
}

.icon-estrela{
    height: 20px;
    width: 20px;
}

.subtitle-pagethree{
    font-size: 14px;
    color: var(--text-body);
}

.pin-foto{
    height: 85.2px;
    width: 74.89px;

    z-index: 1;

    position: absolute; 
    left: 35%;  
    padding-top: 130px;
}


.livro-foto{
    height: 207.68px;
    width: 157.19px;
    
    z-index: 3;
    position: absolute;
    left: 33.333%;

    
}

.images-container{

    padding: 64px 0px 90px 0px;

}

.marcadoramarelo-foto, .marcadorroxo-foto{
    height: 180px;
    width: 58px;

    z-index: 1;
    position: absolute;
    left: 52%;
    padding-top: 10px;
} 

.marcadoramarelo-foto{
    z-index: 1;
}

.marcadorroxo-foto{
    z-index: 0;
}

.legend-container{
    color: var(--text-body);
    font-size: 10px;
}

.text-seta1{
    position: absolute;
    left: 7%;
    top: 910px;
    opacity: 0;
}
.seta1{
    position: absolute;
    left: 15%;
    top: 930px;
    width: 80px;
    opacity: 0;
}
.text-seta2{
    position: absolute;
    left: 10px;
    top: 1020px;
    opacity: 0;
}
.seta2{
    position: absolute;
    left: 7%;
    top: 1050px;
    width: 50px;
    opacity: 0;
}

.text-seta3{
    position: absolute;
    left: 60%;
    top: 1170px;
    opacity: 0;
}
.seta3{
    position: absolute;
    left: 77%;
    top: 1100px;
    width: 48px;
    opacity: 0;
}

.images-container:hover{
    .pin-foto{
        transform: translate(-70px, 30px);
    }
    .marcadoramarelo-foto{
        transform: translate(60px,-20px) rotate(15deg);
    }
    .marcadorroxo-foto{
        transform: translate(90px,0px) rotate(35deg);;
    }


}

.pagethree-container:hover{
    .pin-foto{
        transform: translate(-80px, 30px) rotate(-10deg);
    }
    .marcadoramarelo-foto{
        transform: translate(70px,-43px) rotate(10deg);
    }
    .marcadorroxo-foto{
        transform: translate(100px,0px) rotate(30deg);;
    }

    .seta3, .seta1, .seta2{
        opacity: 100%;
    }

    .text-seta1,.text-seta2,.text-seta3{
        opacity: 100%;
    }
    
}




@media screen and (width >= 1280px){
    .pagethree-container{
        padding: 0px 0px 420px 0px;
        background-size: 930px;
    }
    h2{
        font-size: 32px;
    }
    .icon-estrela{
        height: 32px;
        width: 32px;
    }
    .subtitle-pagethree{
        font-size: 16px;

        margin-bottom: 120px;
    }

    .pin-foto{
        height: 254px;
        width: 222px;

        padding-top: 320px;

        transform: translate(20px, -20px);
    }

    .livro-foto{
        height: 617px;
        width: 467px;

        top:1690px;
    }

    .marcadoramarelo-foto, .marcadorroxo-foto{
        height: 536px;
        width: 172px;

        transform: translateY(-40px)
    } 

    .images-container{
        padding: 88px 0px 200px 0px;
    }
    .legend-container{
        font-size: 16px;
    }
    .text-seta1{
        left: 10%;
        top: 1650px;
    }
    .seta1{
        top: 1675px ;
        width: 175px;
        left: 20%;
    }
    .text-seta2{
        left: 10%;
        top: 1980px;
    }
    .seta2{
        top: 2010px;
        width: 105px;
        left: 12%;
    }
    .text-seta3{
        left: 65%;
        top: 2380px;
    }
    .seta3{
        top: 2220px;
        width: 145px;
        left: 70%;
    }




    .pagethree-container:hover{
        .pin-foto{
            transform: translate(-240px, 60px) rotate(-10deg);
        }
        .marcadoramarelo-foto{
            transform: translate(170px,-150px) rotate(15deg);
        }
        .marcadorroxo-foto{
            transform: translate(280px,-50px) rotate(30deg);;
        }

        .seta3, .seta1, .seta2{
            opacity: 100%;
        }

        .text-seta1,.text-seta2,.text-seta3{
            opacity: 100%;
        }

        .text-seta1{
            transform: translateY(-10px);
        }


        .seta2{
            transform: translateY(80px);
        }
        .text-seta2{
            transform: translateY(75px);
        }


    }
}