.title-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 8px;
}

.pagethree-container{
    padding: 0px 0px 140px 0px;

    background: url(../assets/icon/blur.svg);
    background-size: 298px;
    background-repeat: no-repeat;
    background-position: center;
}

.title{
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    color: var(--text-body);
    font-weight: bold;
    font-size: 24px;
}

.icon-estrela{
    height: 20px;
    width: 20px;
}

.subtitle-pagethree{
    font-size: 14px;
    color: var(--text-body);
}

.pin-foto{
    height: 85.2px;
    width: 74.89px;

    z-index: 1;

    position: absolute; 
    left: 35%;  
    padding-top: 100px;
}

.livro-foto{
    height: 207.68px;
    width: 157.19px;
    
    z-index: 0;
    position: absolute;
    left: 33.333%;

    
}

.images-container{

    padding: 64px 0px 90px 0px;

}

.marcadoramarelo-foto, .marcadorroxo-foto{
    height: 180px;
    width: 58px;

    z-index: 1;
    position: absolute;
    left: 52%;
    padding-top: 10px;
} 

.legend-container{
    color: var(--text-body);
    font-size: 10px;
}

.text-seta1{
    position: absolute;
    left: 7%;
    top: 910px;
}
.seta1{
    position: absolute;
    left: 15%;
    top: 930px;
    width: 80px;
}
.text-seta2{
    position: absolute;
    left: 10px;
    top: 1020px;
}
.seta2{
    position: absolute;
    left: 7%;
    top: 1050px;
    width: 50px;
}

.text-seta3{
    position: absolute;
    left: 60%;
    top: 1170px;
}
.seta3{
    position: absolute;
    left: 80%;
    top: 1125px;
    width: 48px;
}




.images-container:hover{
    .marcadoramarelo-foto{
        transform: rotate(30deg);
        
    }

    .pin-foto{
        transform: rotate();
    }
}




@media screen and (width >= 1280px){
    .pagethree-container{
        padding: 0px 0px 420px 0px;
        background-size: 930px;
    }
    h2{
        font-size: 32px;
    }
    .icon-estrela{
        height: 32px;
        width: 32px;
    }
    .subtitle-pagethree{
        font-size: 16px;

        margin-bottom: 120px;
    }

    .pin-foto{
        height: 254px;
        width: 222px;

        padding-top: 320px;
    }

    .livro-foto{
        height: 617px;
        width: 467px;

        top:1690px;
    }

    .marcadoramarelo-foto, .marcadorroxo-foto{
        height: 536px;
        width: 172px;
    } 

    .images-container{
        padding: 88px 0px 200px 0px;
    }
    .legend-container{
        font-size: 16px;
    }
    .text-seta1{
        left: 10%;
        top: 1650px;
    }
    .seta1{
        top: 1675px ;
        width: 175px;
        left: 20%;
    }
    .text-seta2{
        left: 10%;
        top: 1980px;
    }
    .seta2{
        top: 2010px;
        width: 105px;
        left: 12%;
    }
    .text-seta3{
        left: 65%;
        top: 2380px;
    }
    .seta3{
        top: 2220px;
        width: 145px;
        left: 70%;
    }
}